@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
body {
  background-color: black;
}
h1,
h2,
p {
  color: white;
  font-family: "Koulen", cursive;
}
* {
  max-width: auto;
  height: auto;
}
* {
  font-family: "Koulen", cursive;
}
.cardp {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  // border: solid blue 2px;
  margin-left: 5%;
  position: relative;
}

.grid {
  flex-wrap: wrap;
}
.grid {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  transition: max-height 1s ease-out 0s;
  overflow: hidden;
  column-gap: 10px;
}

.card {
  border: solid #982d2b 2px;
  background-color: #982d2b;
  border-radius: 10px;
  display: flex;

  flex-direction: row;
  height: 354px;
  max-width: 220px;

  -webkit-font-smoothing: antialiased;

  transition: all 0.2s linear 0s;

  display: block;
  margin-bottom: 150px;

  object-fit: cover;

  img {
    border: solid #982d2b 10px;
    border-radius: 10px;
  }
  h2 {
    font-size: larger;
    margin-bottom: 20px;
    font-family: "Koulen", cursive;
  }
}
//DESCRIPTION
.description text {
  text-overflow: ellipsis;
  line-clamp: 4;
  orientation: "horizontal";
  overflow: hidden;
  color: white;
  font-size: 25px;
  position: absolute;
  // top: 250%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin-right: 10px;
}
.pagination button {
  margin-top: 20px;
  border: #982d2b solid 5px;
  height: auto;
  width: 100px;
  font-size: medium;
  border-radius: 15px;
  margin: auto;
  padding: 1em;
  cursor: pointer;
}
.pagination button:hover {
  margin-top: 20px;
  border: #540807 solid 4px;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 1rem;

  left: 1rem;
  right: 0rem;
  border-radius: 3px;
  height: 83%;
  width: 287px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(12, 6, 6, 0.842);
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.container:hover .overlay {
  opacity: 1;
}

.fonctionnalités .letf .btn {
  align-self: center;
}
.research {
  margin-left: 5rem;
}

@media screen and (max-width: 1110px) {
  .cardp {
    display: grid;
    grid-template-columns: 1fr;

    width: 50%;

    margin-left: 10rem;
    margin-bottom: 5rem;

    grid-row: 1fr;
  }
  .pagination {
    margin-left: 15rem;
  }
}
