@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
body {
  background-color: black;
}
h1,
h2,
p {
  color: white;
  font-family: "Koulen", cursive;
}
* {
  font-family: "Koulen", cursive;
}
.cardp {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  // border: solid blue 2px;
  margin-right: 5%;
}

.grid {
  flex-wrap: wrap;
}
grid {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  transition: max-height 1s ease-out 0s;
  overflow: hidden;
  column-gap: 10px;
}

.card {
  border: solid #982d2b 2px;
  background-color: #982d2b;
  border-radius: 10px;
  display: flex;

  flex-direction: row;
  height: 354px;
  width: 220px;
  // box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  // transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  transition: all 0.2s linear 0s;
  // overflow: hidden;

  display: block;
  margin-bottom: 150px;

  object-fit: cover;

  img {
    border: solid #982d2b 10px;
    border-radius: 10px;
  }
  h2 {
    font-size: larger;
    margin-bottom: 20px;
    font-family: "Koulen", cursive;
  }
}
//DESCRIPTION
.description {
  width: 300px;
  text-align: justify;
  margin-top: 20px;
}
// margin: 0px;
//   padding: 16px 24px 17px 20px;
//   box-sizing: border-box;
//   -webkit-font-smoothing: antialiased;
//   background: rgb(21, 21, 21) none repeat scroll 0% 0% / auto padding-box
//     border-box;
//   border: 0px none rgb(230, 36, 41);
//   color: rgb(230, 36, 41);
//   height: 145px;
//   position: relative;
//   vertical-align: middle;
//   z-index: 30;
//   transition: color 0.3s ease 0s;
//   overflow: hidden;
//   line-height: 16px;
