main {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-left: 2rem;

  align-content: center;

  .portraitsolo {
    display: flex;
    border: rgb(127, 16, 16) solid 6px;
    // justify-items: space-between;
  }

  .portrait:hover {
    border: #540807 solid 4px;
    position: relative;
    margin-left: 1rem;
    z-index: 40;
    cursor: pointer;
  }
  .portraitsolo {
    margin-left: 15rem;
    border-radius: 50%;
    // height: 1000px;
    width: 230px;
    animation-duration: 2s;
    animation-name: slidein;
  }
  .heroname {
    margin-left: 11rem;
    font-size: 2rem;
  }
  .comicsemp {
    margin: 2rem 2rem;
  }
  .grid {
    margin-right: -6rem;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 60%;
  }
  to {
    margin-left: 0%;
    width: 20%;
  }
}
