.menu {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  button {
    margin-top: 20px;
    border: #982d2b solid 4px;
    height: auto;
    width: 100%;
    font-size: larger;
    border-radius: 10px;
    margin: auto;
    padding: 1em;
    cursor: pointer;
  }
  button:hover {
    margin-top: 20px;
    border: #540807 solid 4px;
    height: auto;
    width: 100%;
    font-size: larger;
    border-radius: 10px;
    margin: auto;
    padding: 1em;
    cursor: pointer;
  }
}
.research {
  // width: 100%;
  margin-top: -10px;
  background-color: #982d2b;
  display: block;
  margin: auto;
  border: 4px solid #e8e8e8;
  border-radius: 10px;
  padding: 20px 10px;
  width: 50%;

  input {
    width: 100%;
    border-radius: 10px;
    padding: 0px;
  }
}
.iconresearch {
  // padding-top: 20px;
  margin-right: 50px;

  position: absolute;
  font-size: 15px;
  margin-top: 20px;
}

.text-color {
  color: #fff;
  font-size: 20px;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 1em;
  border-bottom: dotted #982d2b;
  font-family: "Koulen", cursive;
  width: 50%;
}
.connexion {
  width: 100vw;
  background-color: white;
  margin-top: -8px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;

  .user {
    height: 30px;
    color: #540807;
    display: flex;
    margin-left: 44rem;
  }

  .buttonlog {
    font-size: larger;

    margin-left: 1560px;
    padding: 20px;
    cursor: pointer;

    margin-right: 10rem;
  }
  .logtext {
    display: flex;
    margin-top: 5px;
    margin-right: 10px;
  }
  .fonticon {
    display: flex;
  }
  button {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
}
