@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

* {
  font-family: "Koulen", cursive;
}

.header {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}
.header video {
  width: 100%;
}
svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; // needed for FF, Safari, Edge
  height: 100%;
}
svg text {
  font-family: Biko, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
}
svg rect {
  fill: black;
}
svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
