@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

* {
  font-family: "Koulen", cursive;
}

.header {
  // margin: 0 auto;
  position: relative;
  max-width: 1100;
  display: flex;
  justify-content: center;
  align-content: center;
}
.header video {
  width: 100%;
}
svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; // needed for FF, Safari, Edge
  height: 100%;
}
svg text {
  font-family: Biko, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
}
svg rect {
  fill: black;
}
svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

.enter h1 {
  background-image: url(https://media.giphy.com/media/rj12FejFUysTK/giphy.gif);

  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 460px;
  letter-spacing: 1px;

  margin: -15px -10px;
  :hover {
    border: solid rgb(83, 18, 18) 2px;
  }
}
