.body {
}
.signup-container {
  //   margin-right: 290px;
  //   display: flex;

  input {
    border: #540807 solid 4px;
    height: auto;
    width: 70%;
    font-size: medium;
    border-radius: 10px;
    margin: auto;
    padding: 1em;
    cursor: pointer;
  }
}
